<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/watchlist">Personal Watch List</a></li>
                    <li><a href="/price_predict">A.I. price prediction</a></li>
                    <li><a href="/day3_trade">3-Day Trade Strategy</a></li>
                    <li><a href="/risk_return">Risk and Return Comparison</a></li>
                    <li>
                        {% if session['username'] %}
                            <a href="/logout">Log Out ({{ session['username'] }})</a>
                        {% else %}
                            <a href="/login?next={{ request.path }}">Log In</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>    
        
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up here</a></p>
    </div>
</body>
</html>
